@tailwind base;
@tailwind components;
@tailwind utilities;

.calendly-inline-widget {
  min-width: 320px;
  height: 700px;
}

/* Marquee animations */
.marquee-container,
.marquee-container-reverse {
  overflow: hidden;
  width: 100%;
}

.marquee,
.marquee-reverse {
  display: flex;
  width: 200%;
}

.marquee-content {
  display: flex;
  width: 100%;
}

.marquee {
  animation: marquee 20s linear infinite;
}

.marquee-reverse {
  animation: marquee-reverse 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

